*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;

}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img{

   height: 40px;
   width: 40px;
   border-radius: 50%;
   border: 1px solid #dadada;
   padding: 2px;
}
.top button{
  margin-left: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 4px;
  background-color: transparent;
  color: #b1b1b1;
}
.top button:hover{
  background-color: #111;
  color: white;
  border: 1px solid #111;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 4px;
  cursor: pointer;
}

.center{
  
}

.center h3{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.center h3 span{
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #8b8b8b
}
.center h2{
  margin-top: 10px;
  font-size: 20px;

}

.center .tags{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tags h4{
  border-radius: 5px;
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 3px 6px;
}

.bottom{
  display: flex;
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-top: 1.5px solid #d7d7d7ce;
 padding-top: 15px;
}
.bottom button{
  background-color: white;
  color: #111;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;

}
.bottom button:hover{
  background-color: #E50914;
  color: white;
  border: 1px solid #E50914;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.bottom h3{
  font-size: 16px;
  font-weight: 600;
}

.bottom p{
  font-size: 14px;
  color: #8b8b8b;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .parent{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
}
