*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

h4{
  margin: 20px;
  text-align: center;
  background-color: plum;
  width:fit-content;
  padding: 10px 20px;
  border-radius: 10px;
}
button{
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #007BFF;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover{
  background-color: #0056b3;
}