*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}


form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  color: white;
}


input{
  margin: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: balck ;
  color: #111;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button{
  margin: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: plum;
  color: balck;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

h4{
  margin: 20px;
  text-align: center;
  background-color: plum;
  width:fit-content;
  padding: 10px 20px;
  border-radius: 10px;
}