*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: black;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  color: white;
}

input{
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #ffff ;
  color: #111;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
input:hover{
  background-color: plum;
}

button{
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #007BFF;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover{
  background-color: #0056b3;
}