.page1{
  background-color: black;
  color: white;
  height: 100vh;
}
.page2{
  background-color: blue;
  color: white;
  height: 100vh;
}
.page3{
  background-color: green;
  color: white;
  height: 100vh;
}