*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}
h1{
  text-align: center;
  font-weight: bold;
  background-color: aquamarine;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  margin: 40px auto;
}
button{
  padding: 10px 20px;
  margin: 40px auto;
  display: block;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
h3{
  text-align: center;
  font-size: 24px;
  margin-top: 20px;

}
