*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

.parent{
  display: flex;
  margin: 20px;
  min-height: 100vh;
  gap: 20px;
  flex-wrap: wrap; 
}
.card{
  width: 300px;
height: 300px;
background-color: #fff;
border: 1px solid #fff;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
transition: transform 0.3s, box-shadow 0.3s;
position: relative;


}
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 25px;
  padding: 0;
  position: absolute;
  top: 20px;
}

.top{

  margin-top: auto;
  text-align: center;
  padding: 20px;
  justify-content: space-between;
}
.top h1{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}
.top p{
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

.bottom{
  margin-top: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.searchbar{
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 70%;;
  font-size: 1rem;
  outline-style: none;
  transition: border-color 0.3s;
}
.bottom .searchbar:focus{
  border-color: #007BFF;
  outline: none;
}
button{
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #007BFF;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover{
  background-color: #0056b3;
}